DISCORD_BOT_TOKEN=
DISCORD_BOT_ACTIVITY=Surfing
# use , to separate channel IDs
ALLOWED_CHANNELS=
HISTORY_LIMIT=12

# Model provider currently support: gemini
# For any-llm (not ready), use any-llm-{provider}, like "any-llm-xai" or "any-llm-openai"
CHAT_MODEL_PROVIDER=gemini
CHAT_MODEL_API_KEY=
CHAT_MODEL=gemini-2.5-flash
CHAT_TEMPERATURE=1
CHAT_SYS_PROMPT_PATH=config/chat_sys_prompt.txt
# on/off, set to on to enable the contextual system prompt, which allows the bot to recognize and address users by their display name. If the variable is not set, it defaults to `off`.
ENABLE_CONTEXTUAL_SYSTEM_PROMPT=on

ROUTER_MODEL_PROVIDER=
ROUTER_MODEL_API_KEY=
ROUTER_MODEL=

THINKER_MODEL_PROVIDER=
THINKER_MODEL_API_KEY=
THINKER_MODEL=
